/******************************************************
 ********************** HELPERS ***********************
 ******************************************************/

/* Vertical align ( childs, apply to parent ). 
   Alernative to: "container d-flex h-100 justify-content-center align-items-center" justify-content-center (horizontal, flexbox) align-items-center(vertival, flexbox)*/
.v-align-child-center {
  display:flex;
  height:100%;
  align-items:center;
}
  
/* Other option for vertical align */
.v-align-self-center {
  margin-top: auto;
  margin-bottom: auto;
}
  
/* Horizon align 
   Alternative to: "justify-content-center" */
.h-align-self-center {
  margin-left: auto;
  margin-right: auto;
}
  
/* Black background */
.bg-black {
  background-color:rgb(0,0,0)!important;   // Falback
  background-color:rgba(0,0,0,1)!important;
}

/* Strong text */
.text-strong {
  font-weight: bold;
}

/******************************************************
 *********************** BLOCKS ***********************
 ******************************************************/

/* Blocks gallery. Round corners */ 
.blocks-gallery-item img
{
 display:none;
    border-radius: calc(.25rem - 1px);
}

/* Blocks gallery. Add spacer before. */
.project-page .wp-block-gallery
{
    // @extend project-page; // Add class in another class
  min-height: 100vh;
  padding-bottom: 4em;
  padding-top: 4em;
}


/******************************************************
 *********************** GLOBAL ***********************
 ******************************************************/

/* Allow <html> margins, etc. Resests corrdinate */

html {
  //overflow: hidden; 
  overflow-y: scroll; 
}
body { 
  position: relative; 
  padding-right:0!important; /* Prevent modal style, we use fixed scrollbars */
  background-color: $body-bg;  
}


/* Remove any link decoration */
a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
  &:visited {
    text-decoration: none;    
  }
}

/* Special "scroll arrow" to nevigate between sub-pages */
a.scroll-arrow {
  font-size: 35px;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 35px;
  border-radius: 50%;
  border: 0px solid white;
  display: block;
  //margin-top: auto;
  //position: relative;
  margin-top: 1em;
  margin-bottom: 0;
  opacity: 1;
  box-sizing: border-box;
  text-align: top;
  mix-blend-mode: difference;	
}

a.scroll-arrow i {
  width: 100%;
  vertical-align:middle;
}

/* Cross arrow.  */
.cross-arrow {
	position: fixed;
	top: 1em;
	right: 1em;
  z-index: $zindex-tooltip;
  mix-blend-mode: difference;
  

  a {
    color: white;
    opacity: 1;	  
    mix-blend-mode: difference;
    
  }
}

/* Resposive text */
h1.responsive-text{
  font-size: 3vw;
}
h2.responsive-text{
  font-size: 2vw;
}
h3.responsive-text{
  font-size: 1vw;
}


/* Layout, no margins */
#single-wrapper {
	margin: 0;
	padding: 0;	
}
#main {
	margin: 0;
	padding: 0;
}
/* left-sidebar-check creates a single cell, that has a padding of 15.
   We dont need that */
#primary {
	padding: 0;
}

.hideSvgSoThatItSupportsFirefox
{
  /* If you use `display: none`, Firefox isn’t able to
   reference the filter inside the SVG. This avoids
   the issue by using using .visuallyHidden from the
   HTML5 Boilerplate.
   -> https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
  */
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Bur effect.
   From: https://codepen.io/johndjameson/pen/xVjgPy/ */
.blur{
  /* The radius is defined in <feGaussianBlur stdDeviation="30"> */
  filter: url('#sharpBlur') saturate(200%); 
  //filter: blur(30px) saturate(200%);
}

/******************************************************
 ***********************  HOME  ***********************
 ******************************************************/

/* PARALLAX */
/* Main page title */
.home-page .title {
  margin-bottom: 40px;
  text-transform:  uppercase;
  color: theme-color('secondary');
  //text-align: center;
}

/* Header parallax. 
   We use .parallax: it is scrollable but reserves the space so the rest of the content
   goes below this section ( ie: a "window"). Below it, we use .parallax .parallax-fixed
   to display a fixed bacground that will be static behind.
   */   
.home-page.wrapper {
  padding: 0;
}

.home-page .parallax {
  width: 100%;
  min-height: 200px;
  height: 60vh; /* 60% of viewport height */
  margin: 0;
  padding: 0;
  /*max-height: 800px;*/
  overflow: hidden;
  position: relative;
} 


.home-page .parallax .parallax-fixed {
  //content: " "; // Not required if not using ::before selector
  width: 100%;
  min-height: 200px;
  height: 60vh;
  margin: 0 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  //left: 50%;  
  //z-index: -1;
  will-change: transform; /* creates a new paint layer */
  //transform: translateX(-50%);

}

/* Wordpress admin bar integration.
   As we have a fixed element, we dont want to override the wp admin bar
   .admin-bar is added to <body> class by wp */
.admin-bar .home-page .parallax .parallax-fixed {
  margin-top: 0px;

  @include media-breakpoint-up(sm) {
    margin-top: 46px;
  }

  @include media-breakpoint-up(md) {
    margin-top: 32px;
  }
}

/* CONTAINER */

/* All the non-parallax body */
.home-page > .container-fluid {
  position: relative;  // Enable z-index
  z-index: 1; // Above parallax
  
  background-color: $grid-background-color;
}



/* NAVIGATION BAR */

/* Increase navbar top distance to match bottoms cards margin */
.home-page #navbar-selector {
  padding: 16px 0 0 0;  // Padding-top Same as card margin
}

/* Fix nav-pills hover color */
.home-page #navbar-selector .nav-link {

  &.active {
    background-color: theme-color('primary');
    color: theme-color('secondary');
  }
  &.active:hover {
    color: theme-color('secondary');
  }
}

.home-page .navbar-nav.nav-fill .nav-item {
  flex: none; /* Justify pils, they do not grow*/
}

// Remove nav-brand padding
.home-page #navbar-selector .navbar-brand {
  margin-right: 0;
}


// Nav links underlined 
.home-page #navbar-selector .nav-link{
  // Reset coordinates
  position: relative;
  color: $navbar-text-color;
}
  
// Left
.home-page #navbar-selector .menu-item-left .nav-link{
  
  @include media-breakpoint-up(md) {
    padding-left: 0; // Remove default behavior
    padding-right: 1.5em; // 1 em for border, 0.5em for separation

    &::after {
      content: " "; // Make visible
      position: absolute;
      bottom: 0; // Bottom
      left: 0; // Horizontal center absolute positioned element
      right: 0.5em;
      border-bottom: solid 1px;      
    }
  }

}

// Same for right
.home-page #navbar-selector .menu-item-right .nav-link{

  @include media-breakpoint-up(md) {

    padding-right: 0; // Remove default behavior
    padding-left: 1.5em; // 1.5 em for border, 0.5em for separation
    
    &::after {
      content: " "; // Make visible
      position: absolute;
      bottom: 0; // Bottom
      right: 0; // Horizontal center absolute positioned element
      left: 0.5em;
      border-bottom: solid 1px;      
    }
  }

}

// Remove nav-pills background
.home-page #navbar-selector .nav-link.active {
  background-color:inherit; // Remove black background 
  color: rgba(0,0,0,0.9);

  &::after {
   border-color: rgba(0,0,0,0.9);
  }

  // By default, it goes to back and white text
  &:hover {
    //display: none;
    color: inherit;
  }
}


/* The parent of img with -mix-blend-mode must have the background color we
   want to blend */
.home-page .custom-logo-link {
  background-color: $grid-background-color;
}

/* Custom logo width */
.home-page .custom-logo-link > img {
	width: 75px;
  margin-left: 1em;
  margin-right: 1em;
  mix-blend-mode: multiply; // Make white transparent
}

/* PROJECT GRID */
.home-page .grid {
  /* Enable HW acceleration */
  transform:translate3d(0,0,0);
}

.home-page .grid-item {
  background-color: $grid-background-color; // Remove default white

  // Make items white transparent
  a {
    //mix-blend-mode: multiply;
  }
}

/* Remove card border. '.' = and ) */
.home-page .card.grid-item {
  border: none;

  /* Hover projects.
   .card-img-overlay is the overall hover. A .card-img is located below
   that acts as a background for the hover (that can be blurred) */
  & .overlay {
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
  
    height: 5em;
    opacity: 0;
    overflow: hidden; 	/* The contents (img) will be bigger, we dont want to show anything */
  
    background-color: white; /* We set the content with a background, and the content::before with the background blurred. This prevents
                    the edges being transparentens on the blurred background */
    background-size: cover;       
    border-radius: calc(.25rem - 1px);

    /* Create a common z-workspace for .overlay childs */
    z-index: 0;
  
    /* Required to center the <h1> */
    display:flex;
    align-items: center;
    justify-content: center;

    /* transitions */
  	transition: opacity 0.25s ease;

    & .card-img {
      /* We set to absolute and start in the coordinates of the parent. This way we dont distort
           the image, and it is alligned */
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    
      transform: translateY(-100%) translateY(+5em) translateZ(0); /* Move 100% up, the 5 em down */
      //clip: rect(0px,60px,200px,0px);
      //object-fit: cover;
      //object-position: bottom;
    
       z-index: 1;
    }
    
    &::before {
      content: ' ';      
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0,0,0,0.4);
      z-index: 2;
    }
  }
  
	
  &:hover .overlay {
    opacity: 1;
  }

  & .card-a {
    overflow: hidden;
    position: relative;
  }

  /* Position card-title in the center */
  & .card-title {
    position: relative; 
    margin: 0;
    z-index: 4;
  }

  /* Text-only project */
  &.card-project-text {
    background-color: $grid-textCard-background-color;
    
    .card-header {
      border-bottom: 0;
      font-weight: 100;
      background-color: inherit; // Remove native card-header 0.3 opacity dark background;
    }

    .card-title {
      font-weight: 800;
      line-height: 1.4;
    }

    .card-body {
      @include border-bottom-radius($card-border-radius);
      border-width: 10px;
      transition: background-color 0.25s ease;
    }
  }

}

/* PAGINATION */
.pagination {
  margin-top: 2em;
  display: flex;
  justify-content: center;

  li {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}


.pagination-load-infinite  {
  display: none; /* hidden by default */
  //border-top: 1px solid #DDD;
  text-align: center;
  //color: #777;

  .infinite-scroll-request {
    padding-top: 2em;    
  }
}

/* Add bottom margin before footer */
.home-page #content {
  padding-bottom: 2em;  
}

/* FOOTER */
/* Adding some contrast background color to footer full widget */
#wrapper-footer-full,
#wrapper-static-hero {     
  background-color: theme-color('primary'); 
  color: theme-color('secondary'); 
  padding: 0.5em 0; 
  
};

/* Separate footer paragraphs */
#footer-full-content{

  /* Only in sm the margins reduces */
  @include media-breakpoint-up(sm) {
    .footer-widget{
      padding-left: 0;
      padding-right: 0;
    }
  }

  .textwidget {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    padding-top:0;
    & p {
      margin-bottom: .25em;
      margin-top: .25em;
      padding: 0;
    }
    
    
  }
}



/******************************************************
 ******************** PROJECT PAGE ********************
 ******************************************************/

/* Project page wrapper. Set to 100% viewport */
.project-page {
	min-height: 100vh;
	//border-bottom: 1px solid black;
	position: relative; /* Reset x,y coord */

	/* Required to center the <h1> */
	display:flex;
  align-items: center;
  justify-content: center;
	flex-direction: column;

  /* We try to divide each sub page with proper margins */
	padding-bottom: 4em;
  padding-top: 4em;
  
  background-color: white;  

  /* Header sub-page */
  &.entry-header { /* project-page and entry header */
    background-color: black;

    a.scroll-arrow {
      position: absolute;
      bottom: 2em;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  /* Gallery sub-page */
  &.project-gallery {
    .card-columns {

      @include media-breakpoint-only(sm) {
        column-count: 1;
      }
      @include media-breakpoint-only(md) {
        column-count: 2;
      }
      @include media-breakpoint-only(lg) {
        column-count: 3;
      }
      @include media-breakpoint-only(xl) {
        column-count: 3;
      }
    }

    .card {
      border: none;
    }
  }

}





/******************************************************
 ******************* BIOGRAPHY PAGE *******************
 ******************************************************/
#page-biography-wrapper {
  padding: 0;
}


/* Biography page wrapper. Creates individual pages */
.biography-page {
	min-height: 100vh;
	position: relative; /* Reset x,y coord */
	padding-bottom: 4em;
	padding-top: 4em;
	/* Required to center the <h1> */
	display:flex;
  align-items: center; /* Horinzontal */
  justify-content: center; /* Vertical */
  flex-direction: column;
  
  background-color: white;    
}

/* Reduce inner-paragraph spacing */
.biography-page p {
	margin-bottom: 0.5em;
}

/* Remove inner year border */
.table td.td-inner-year {
  border-top: none;
}


/******************************************************
 *******************  CONTACT PAGE  *******************
 ******************************************************/
/* By default, class .wrapper includes 30px padding */
#page-contact-wrapper {
  padding: 0;
  background-color: white;
}

/* 100% view port size */
.contact-page {
	min-height: 100vh;
	position: relative; /* Reset x,y coord */
	padding-bottom: 4em;
	padding-top: 4em;
	/* Required to center the <h1> */
	display:flex;
  align-items: center; /* Vertical */

  will-change: opacity;  
}

/* Reduce inner-paragraph spacing */
.contact-page p {
	margin-bottom: 0.5em;
}

/* Delete table border in contact page */
.contact-page .table td {
  border: none;
}

/* Vertical aling of the header */
.contact-page .content-title {
  vertical-align: top;
  line-height: 0.8em;    /* Remove typical 1.2 font padding (Aling top of text with img) */
  padding-left: 0.75rem; /* Same as .table td */
}

/* Change tooltip width
   WARNIG: Global-scope */
.tooltip {
  // max-width: 400px;
  // padding-bottom: 4em;
}


/******************************************************
 *******************     404 PAGE   *******************
 ******************************************************/
 #error-404-wrapper {
  min-height: 100vh;
  background-color: white;
  display: flex;
  align-items:center;  /* Vertical */
  justify-content: center; /* Horizontal */
}


/******************************************************
 ******************    SEARCH PAGE   ******************
 ******************************************************/
#search-wrapper {
  min-height: 100vh;
  background-color: white;
  display: flex;
  align-items:center;  /* Vertical */
  justify-content: center; /* Horizontal */
}


/******************************************************
 *******************  MOBILE NAVIGATION BAR  **********
 ******************************************************/

/* Top navigation bar */
#wrapper-index .navbar-mobile {
  position: fixed;
  top: 0;
  width: 100%;

  //background-color: theme-color("primary");
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity */
  
  //color: black;
  z-index: $zindex-sticky;

  // Preventt text wrapping below toggler. We want it to stick
  flex-wrap: nowrap;

  // Set text height responsive for very small devices
  @include media-breakpoint-down(xs){
    .navbar-title {
      font-size: 6.8vw; // 1 line until iphone-4
    }  
  }
  

 @include media-breakpoint-up(md) {
  //background-color: theme-color("primary");
  background-color: rgba(0,0,0,0); /* Black w/opacity */
  position: absolute;

  & .navbar-toggler {
    visibility: hidden;
  }

  /* Title  */
  .navbar-title {
    padding-right: 1em;
  }
 }
}

/* Navbar menu modal */
.fullscreen {
  .modal-dialog {
    margin: 0 0 0 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    color: #333;
    background: rgba(255, 255, 255, 0.97); /* Default-color */
  }

  .modal-content {
    height: 100%;
    width: 100%;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    background-color:inherit;
    overflow:auto;
  }
} 


/******************************************************
 *******************     LOADERS    *******************
 ******************************************************/

 /* First page loader */
#loader-opener {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: $zindex-tooltip;
  display: flex;
  align-items:center;  /* Vertical */
  justify-content: center; /* Horizontal */
}

/* Disabled */
#loader-opener {
  display:none;
}

/* Page change loader */
#loader-spinner {
  position: fixed;
  top: -9999px;
  left: 0;
  //display: none;
  overflow: hidden;

  height: 100vh;
  width: 100vw;
  background-color: white;
  
  will-change: opacity;  
  z-index: $zindex-tooltip;
  opacity: 0;
  transition: opacity 0.3s linear;

  display: flex;
  align-items:center;
  justify-content: center;
  
}


/******************************************************
 *************  THEME CUSTOMIZER SUPPORT  *************
 ******************************************************/

/* MAX WIDTH MODIFIER */
/* Limit parallax to max-width */
.home-page .parallax .parallax-fixed {
  //position: absolute; // Parallax effect
  max-width: 1400px;
  left: 50%;
  transform: translateX(-50%);
}

/* Limit page title to max-width */
#wrapper-index .navbar-mobile {
  max-width: 1400px;
  left: 50%;
  transform: translateX(-50%);
}

.home-page > .container-fluid {
  max-width: 1400px;
}



/* MAX HEIGHT MODIFIER */
/* Limit parallax to max-width */
.home-page .parallax, .home-page .parallax .parallax-fixed {
//position: absolute; // Parallax effect
  max-height: 600px;
}



/******************************************************
 *******************  DEVELOPMENT  ********************
 ******************************************************/

 * {
	//background-color: rgba(123,120,120,0.2);
	//border: 1px solid black;
 }
